@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


.nav-bg{

    background-image:linear-gradient(to bottom, #140cb5e7, rgba(17, 0, 255, 0.623)),
    url('../../public/images/line.png') ;
    background-size: cover;
    background-repeat: no-repeat;

}

.active-link{
    @apply bg-white text-app-900 hover:text-app-900 hover:bg-gray-50 flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold;
}

.inactive-link{
    @apply text-white hover:text-gray-200 hover:bg-app-400  flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold;
}


.variants{
    @apply flex items-start flex-wrap;
}